a {
	text-decoration: none;
	color: black;
}

mark {
	background-color: gold;
}

#main #name {
	position: absolute;
	left: 20vw;
	font-size: 2vw;
	color: white;
	font-family: Montserrat;
	left: 15vw;
}

#main #menu {
	position: absolute;
	width: 80vw;
	left: 10vw;
	overflow: auto;
	max-height: 85vh;
	top: 13vh;
}

#main #menu .element {
	transition: 0.3s;
	position: relative;
	float: left;
	margin: 20px;
	height: 365px;
	width: 450px;
	outline: 10px solid rgb(255,215,0);
	background-color: rgb(255,215,0);
	opacity: 0.1;
}

#main #menu .element img {
	margin-left: 125px;
	margin-top: 20px;
	width: 200px;
	height: 200px;
	opacity: 0.2;
	transition: 0.5s;
}

#main #menu .element:hover img{
	margin-left: 125px;
	margin-top: 40px;
	opacity: 1;
	transition: 0.2s;
}

#main #menu .element p {
	visibility: hidden;
}

#main #menu .element:hover p{
	visibility: visible;
	font-family: Montserrat;
	font-weight: bold;
	text-align: center;
	font-size: 20px;
	transition: 0.1s;
}

#main #menu .element:hover {
	transition: 0.3s;
	background-color: rgb(255,215,0);
	outline: none;
	opacity: 1;
	cursor: pointer;
}

/* tools */
canvas {
	position: fixed;
	z-index: -100;
	filter: blur(3px);
}
#blackscreen {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: black;
	opacity: 0.5;
}
::-webkit-scrollbar {
    width: 15px; 
    height: 8px; 
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255,215,0,0.9);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255,215,0,0.5);
}

::-webkit-scrollbar-button:vertical:start:decrement {
    background: linear-gradient(120deg, black 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(240deg, black 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(0deg, black 30%, rgba(0, 0, 0, 0) 31%);
    background-color: yellow;
}	