#menu1 {
	position: relative;
	width: 98%;
	display: flex;
	height: 50px;
}

#menu1 a {
	width: 25%;
	text-align: center;
	padding-top: 10px;
	border: 1px solid grey;

	font-family: sans-serif;
	font-weight: bold;
	text-decoration: none;
	transition: 0.3s;
}

#menu1 a:hover {
	color: red;
	width: 40%;
	font-size: 140%;
	transition: 0.3s;
	background-color: lightyellow;
}

#menu2 {
	position: relative;
	width: 98%;
	height: 50px;
}

#menu2 td {
	width: 25%;
	text-align: center;
	padding-top: 10px;
	border: 1px solid grey;

	font-family: sans-serif;
	font-weight: bold;
	text-decoration: none;
	transition: 0.3s;
}

#menu2 a {
	text-decoration: none;
}

#menu2 td:hover {
	color: red;
	width: 30%;
	font-size: 140%;
	transition: 0.3s;
	background-color: lightyellow;
}
#menu2 a:hover {
	color: red;
}

/* CHESS */

#Chess {
	width: 416px;
}
.row {
	display: flex;
	flex-wrap: wrap;
}
#Chess .row div {
	position: relative;
	width: 50px;
	height: 50px;
	border: 1px solid black;
}

.row:nth-child(odd) div:nth-child(even) {
	background: black;
}

.row:nth-child(even) div:nth-child(odd) {
	background: black;
}
